body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: arial;
}

#map {
  width: 100vw;
  height: 100vh;
}

#overlay {
  left: 0.5em;
  top: 0.5em;
  position: absolute;
}
#overlay.replay {
  z-index: 2; /* on top of loading overlay */
}

.modal-overlay {
  background: rgba(200, 200, 200, 0.8);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  text-align: center;
  padding-top: 4em;
  font-size: 2em;
}

.btn {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px;
  line-height: 1.4em;
}
.btn > div {
  background: rgba(0, 60, 136, 0.5);
  color: white;
  margin: 1px;
  padding: 0.4em;
  width: 300px;
}

.ol-zoom {
  left: auto;
  right: 0.5em;
}
.ol-rotate {
  top: 5.5em;
}

.team {
  vertical-align: middle;
  height: 1.8em;
  border: 2px solid white;
  margin-right: 0.2em;
}
.team.a {
  background: #0072b2;
}
.team.b {
  background: #009e73;
}
.team.c {
  background: #626262;
}

.delta {
  font-size: 0.8em;
}

ul {
  margin: 0;
  font-size: 0.8em;
  line-height: 1.2em;
  padding-left: 1.5em;
}

.replay button {
  min-width: 3em;
  height: 2em;
  margin: 0.2em;
  border-radius: 1px;
}
